body {
    font-family: 'Roboto Slab', serif;
    margin:0px;
}

h1 {
    font-size: 50px;
    margin-left: 80px;
    margin-top: 6px;

}
h3{
    margin-left: 80px;
}
h2{
    margin-left: 80px;
    margin-top: 6px;
}
.orange-color {
    color: orange;

}
p{
    margin-left: 80px;
    text-align: justify;
    margin-top: 10px;
}

section {
    display: flex;
}

.half-width {
    width: 100%;
}

 img {
    width: 100%;
    padding: 10px 50px 100px 0px;
}


.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    margin-left: 80px;

}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}

#width{
    width: 80%;
    padding: 0px 5px 0px 0px ;
}
.dream-big{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
    padding: 10px 10px;
    background-size:  70px; ;
}

