body {
    font-family: 'Roboto Slab', serif;
    margin:0px;
}

h1 {
    font-size: 50px;
    margin-left: 80px;
    margin-top: 6px;

}
h3{
    margin-left: 80px;
}
h2{
    margin-left: 80px;
    margin-top: 6px;
    font-size: 40px;
}
.orange-color {
    color: orange;

}
p{
    margin-left: 80px;
    text-align: justify;
    margin-top: 10px;
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;;
}

 img {
    width: 100%;
    padding-right: 5%;
}


.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    margin-left: 80px;

}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}

#width{
    width: 100%;
    padding: 0px 50px 50px 0px ;
}
.dream-big{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
    padding: 20px 0px;
    background-size:  90px;
    text-align: 50%;
}
.experiences-item{
    box-shadow: 40px 5px 40px gray;
   width: 40%;
   padding:  1% 1% 0% 0%;
   margin-left: 5%;
   border-radius: 10px;
}
.experiences-area{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat ;
    background-position:left;
}
#full-stack-debloper{
    border-left: 7px solid tomato;
}
#baby-stack-debloper{
    border-left: 7px solid blue;

}
footer p{
    text-align: center;
    
}